{% extends "base.html" %}
{% block title %}
Project Detail
{% endblock %}
{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Project Management</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Access all of the current business projects from one place.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if user.is_authenticated %}
            <a href="/projects" class="btn btn-primary btn-lg px-4 gap-3" role="button" aria-disabled="true">Project Listings</a>
            {% else %}
            <a href="/accounts/login" class="btn btn-primary btn-lg px-4 gap-3" role="button" aria-disabled="true">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
{% endblock %}